<form action="/login" method="post">
	<div>
		{{#if error}}
			<p class="err-msg">Username or password is incorrect.</p>
		{{else if success}}
			<div class="success"><p>Successfully created account.</p><p>Please log in below.</p></div>
		{{else if userexists}}
			<div class="err-msg"><p>Username already exists</p><p>Please log in instead.</p></div>
		{{else if invalidemail}}
			<div class="err-msg"><p>Invalid email address.</p></div>
		{{else if reset}}
			<div class="success"><p>Password successfully reset.</p></div>
		{{else if expired}}
			<div class="err-msg"><p>This link may have expired. Please reset your password again.</p></div>
		{{/if }}
		<h1>Login</h1>
	</div>
	<div class="form-group">
		<label>Username: </label>
		<input 
			type="email" 
			name="username" 
			id="username" 
			placeholder="Enter your email address" 
			required />
	</div>
	<div class="form-group">
		<label>Password: <a href="reset">Forgot Password?</a></label>
		<input 
			type="password" 
			name="password" 
			id="password"
			placeholder="Enter your password" 
			required />
	</div>
	<div>
		<input type="submit" value="Login" />
	</div>
	<div class="register-link">
		<p>Don't have an account? <a href="register">Register Here</a></p>
	</div>
</form>